body {
  background-color: #F8F9F9;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 20px;
}

.nav-logo {
  width: 180px;
  cursor: pointer;
}

.nav {
  background-color: rgb(98, 168, 192);
}

.profile-placeholder {
  width: 75px;
  height: 75px;
  clip-path: circle();
  margin-top: 8px;
  margin-right: 10px;
}

.profile {
  background-color: #F8F9F9;
  clip-path: circle();
  border: 10px solid #F8F9F9;
}

.Profile {
  cursor: pointer;
}