

.viewprogram-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgba(74,169,198,255);
    letter-spacing: 1px;
}

.viewprogram-programs{
    /* text-align: center; */
    color: rgba(74,169,198,255);
}

.HeaderText{
    color: #F8F9F9;
}

.program_table_div{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.PageOutline{
    display: flex;
}

.program_table{
    table-layout: fixed;
    border-collapse: collapse;
}

.program_table tbody{
  display:block;
  overflow: auto;
  height: 100px;
}

.Modified tbody{
    overflow: visible;
}

.Unmodified tbody{
    overflow: auto;
}

.program_table thead tr {
   display: block;
}

.program_table thead {
  background: rgba(74,169,198,255);
  color:#fff;
}

.program_table th, .program_table td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.training-submit{
    width: auto;
    height: auto;
    margin-top: 3px;
}

.SubtableHead{
    background: rgba(255, 255, 255, 0.359);
}

