.progressionChartMainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineChart{
    margin-top: 2em;
    text-align: center;
}

.barChart{
    margin-top: 4em;
    text-align: center;
}   

.chartTitle{
    font-size: 26px;
    font-weight: 600;
}