.main-page{
  text-align: center;
}

.training-title {
  font-size: 40px;
  font-weight: 900;
  color: rgba(74,169,198,255);
  letter-spacing: 1px;
}

.select-day {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 12%;
  height: 50px;
  border: 1px solid black;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 25px;
}

.select-day:hover {
  transform: translateY(-2px);
  background-color: lightblue;
}

.select-day:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.program-title{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.program-field{
  width: 15%;
  border-radius: 12px;
  box-sizing: border-box;
  border-color: black;
  font-size: 18px;
  height: 40px;
  padding: 4px 5px;
}

.week-field{
  width: 15%;
  border-radius: 12px;
  box-sizing: border-box;
  border-color: black;
  font-size: 18px;
  height: 40px;
}

.current-day{
  font-size: 30px;
  font-weight: 900;
  color: rgba(74,169,198,255);
  letter-spacing: 1px;
}

.training-form > input{
  width: 30%;
  border-radius: 12px;
  box-sizing: border-box;
  border-color: black;
  font-size: 18px;
  height: 40px;
  padding: 4px 5px;
}

.training-form > label{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.training-submit{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 20%;
  height: 50px;
  border: 1px solid black;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  border-radius: 4px;
  margin-top: 10px;
}

.training-submit:hover {
transform: translateY(-2px);
background-color: lightblue;
}

.training-submit:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}
