.view-program-main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewprogram-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgba(74,169,198,255);
    letter-spacing: 1px;
}

/* ------------------------------------------------------------------------------ */

.choose-program-container {
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; /* Optional: adds smooth scrolling effect */
}

.choose-program-container::-webkit-scrollbar {
  display: none;
}

.choose-program-card {
  flex: 0 0 auto;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 15em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.choose-program-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.choose-program-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.choose-program-week {
  font-size: 16px;
  margin: 0;
}


/* ------------------------------------------------------------------------------ */
.display-program-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* style for each training day card */
  .display-program-card {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  /* style for the exercise details */
  .display-program-card div {
    margin-top: 10px;
  }
  
  .display-program-card p {
    margin: 0;
  }
  
  .display-program-card p:first-child {
    font-weight: bold;
  }
  
  
  
  
  
  