.view-program-main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewprogram-title{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgba(74,169,198,255);
    letter-spacing: 1px;
}

.choose-program-container {
    display: flex;
    flex-wrap: wrap;
  }

.choose-program-card {
    width: 20%;
    padding: 0.6em;
    margin: 0.4em;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.choose-program-card:hover {
    background-color: #f2f2f2;
    transform: translateY(-2px);
}

.choose-program-title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}

.choose-program-week {
    font-size: 16px;
    margin: 0;
}

/* ------------------------------------------------------------------------------ */
.display-program-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* style for each training day card */
  .display-program-card {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  /* style for the exercise details */
  .display-program-card div {
    margin-top: 10px;
  }
  
  .display-program-card p {
    margin: 0;
  }
  
  .display-program-card p:first-child {
    font-weight: bold;
  }
  
  
  
  
  
  